10_games.xlsx
10_games_game_num.xlsx
10_games_features.xlsx
10_games_winner.xlsx
final_weights.xlsx
20_games_game_num.xlsx
20_games_features.xlsx
20_games_winner.xlsx
master_games.pgn
final_weights_10_games_10_batch.xlsx
final_biases.xlsx